{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft": "Warning",
      "Microsoft.Hosting.Lifetime": "Information"
    }
  },
  "AllowedHosts": "*",
  "ConnectionStrings": {
    "SqlServer": "Data Source=.\\SQLExpress;Database=MyGolfHelper;Trusted_Connection=True;MultipleActiveResultSets=true"
  },
  "JwtOptions": {
    "Secret": "super_secret_and_random_bytes",
    "ExpiresInSeconds": 3600
  }
}
